@import "variables";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  padding: 1rem 0;
}

.logo {
  max-width: 100px;
  width: 100%;
  align-items: center;
}

.form {
  display: flex;
  max-width: 980px;
  width: 100%;

  label {
    position: absolute;

    z-index: -1;
    overflow: hidden;
  }

  input {
    padding: 16px;
    border: 0;
    width: 100%;
  }
}
