$color-yellow: #ffe600;
$color-grey: #999999;
$color-white-grey: #eeeeee;
$color-white: #ffffff;
$color-black: #333333;
$color-blue: #3483fa;

$max-width: 1600px;

$padding-size: 32px;
$margin-size: 16px;
